<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Information</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="show-content content">
      <br />
      <hr>
      <br>
      <h2>View Detaild Information</h2>
      <table class="show-table table">
        <tr>
          <th>Sl. No.</th>
          <td>
            <% if(( specificInfo.sl ) < 10) { %>
            <span>0<%= specificInfo.sl %></span>
            <% }else { %>
            <span><%= specificInfo.sl %></span>
            <% } %>
          </td>
        </tr>
        <tr>
          <th>Id</th>
          <td><%= specificInfo.id %></td>
        </tr>
        <tr>
          <th>Username</th>
          <td><%= specificInfo.username %></td>
        </tr>
        <tr>
          <th>Name</th>
          <td><%= specificInfo.name %></td>
        </tr>
        <tr>
          <th>Gender</th>
          <td><%= specificInfo.gender %></td>
        </tr>
        <tr>
          <th>Parent</th>
          <td><%= specificInfo.parent %></td>
        </tr>
        <tr>
          <th>Course</th>
          <td><%= specificInfo.course %></td>
        </tr>
        <tr>
          <th>Academic Session</th>
          <td><%= specificInfo.session %></td>
        </tr>
        <tr>
          <th>Full Address</th>
          <td><%= specificInfo.address %></td>
        </tr>
        <tr>
          <th>Mobile</th>
          <td><%= specificInfo.mobile %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= specificInfo.email %></td>
        </tr>
        <tr>
          <th>Other Details</th>
          <td><p><%= specificInfo.details %></p></td>
        </tr>
      </table>
      <br />
      <div class="action-in-show">
        <a href="/home">Home</a>
        <a href="/<%= specificInfo.id %>/edit">Edit</a>
      </div>
    </div>
    <br><hr><br><br><br><br>
    <%- include("includes/marquee.ejs")%>
    <!-- footer -->
    <%- include('includes/footer.ejs') %>
  </body>
</html>
